*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 2rem 1rem;
    padding: 1rem;

    user-select: none;
    border: 1px solid black;
}

.app-title{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 3rem 1rem; 
}

.app-container{
    display: flex;
    gap: 1rem;
}

.app-message{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    margin: 2rem 1rem;
    width: 90%;

    border: 1px solid black;
    font-size: 2rem;
    text-transform: uppercase;
}

.win-container{
    display: flex;
    flex-direction: column;

    margin: 0 1.5rem;

    text-transform: uppercase;
    border: 1px solid black;
}

.win-left{
    box-shadow: inset 0px 0px 5px blue;
}

.win-right{
    box-shadow: inset 0px 0px 5px red;
}

.wins{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2.5rem 1rem;
    font-size: 4rem;
}

.win-title{
    font-size: 1.3rem;
    padding: 1rem;
    border-bottom: 1px solid;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.grid-cell{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 75px;

    font-size: 2.5rem;
    border: 1px solid black;
}

.btn--endturn{
    margin: 2rem;
    padding: 1rem;
    width: 40%;
    font-size: 1.5rem;
}